<div class="nav-wrapper">
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li>
        <a href="{% url 'dashboard' %}" class="cyan-text">
            <i class="mdi-action-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/static/app-email.html" class="cyan-text">
            <i class="mdi-communication-email"></i>
            <span>Notificaciones</span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/admin">
            <i class="mdi-action-settings"></i>
            <span>Administración</span>
        </a>
    </li>

  </ul>
</div>