<div class="nav-wrapper">
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li>
        <a href="{% url 'dashboard' %}" class="cyan-text">
            <i class="mdi-action-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/static/app-email.html" class="cyan-text">
            <i class="mdi-communication-email"></i>
            <span>Notificaciones</span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/admin">
            <i class="mdi-action-settings"></i>
            <span>Administración</span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="CSSdropdown">
            <i class="mdi-action-invert-colors"></i>
            <span>Personalizar<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="UIElementsdropdown">
            <i class="mdi-image-palette"></i>
            <span>UI Elements<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>
    <li>
        <a href="/static/app-widget.html" class="cyan-text">
            <i class="mdi-device-now-widgets"></i>
            <span>Widgets</span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="Tablesdropdown">
            <i class="mdi-editor-border-all"></i>
            <span>Tables<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="Formsdropdown">
            <i class="mdi-editor-insert-comment"></i>
            <span>Forms<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>
    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="Pagesdropdown">
            <i class="mdi-social-pages"></i>
            <span>Pages<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>

    <li>
        <a class="dropdown-menu cyan-text" href="/static/index.html#!" data-activates="Chartsdropdown">
            <i class="mdi-editor-insert-chart"></i>
            <span>Charts<i class="mdi-navigation-arrow-drop-down right"></i></span>
        </a>
    </li>

  </ul>
</div>