{% extends 'base/base.html'%}

{% block content %}

<div id="chart-dashboard" ng-controller='dashboardController'>
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-move-up waves-effect waves-block waves-light">
                    <div class="move-up cyan darken-1">
                        <div>
                            <span class="chart-title white-text">RIESGO POR OFICINA</span>
                            <div class="switch chart-revenue-switch right">
                                <select id="select-state" placeholder="Dime cuales sucursales quieres comparar..">
                                    <option value="">Sucursal..</option>
                                </select>
                                <button id="filter-btn" class="btn waves-effect waves-light cyan darken-2">Filtrar</button>
                            </div>
                        </div>
                        <div class="trending-line-chart-wrapper">
                            <canvas id="trending-line-chart" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                    <div class="progress" ng-if='loading.offices_risk'>
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Revenue by Month <i class="mdi-navigation-close right"></i></span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="id">ID</th>
                                <th data-field="month">Month</th>
                                <th data-field="item-sold">Item Sold</th>
                                <th data-field="item-price">Item Price</th>
                                <th data-field="total-profit">Total Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>January</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>February</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>March</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>April</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>May</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>June</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>July</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>August</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Septmber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Octomber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>November</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>December</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">Dashboard</h4>
                    <p class="task-card-date">{% now "F d, Y" %}</p>
                </li>
                <li class="collection-item dismissable">
                    <div class="switch">
                        <label> Cantidad <input type="checkbox" ng-model='settings.by_amount' ng-change='alert()'> <span class="lever"></span> Monto </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m8 l6">
            <div class="card">
                <div class="sample-chart-wrapper">
                    <span>Top Oficinas Por Categorias de Indicadores </span>
                    <div id="offices" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l6">
            <div class="card">
                <div class="sample-chart-wrapper">
                    <span>TOP Oficinas Mayor riesgo</span>
                    <div id="indicator-by-region" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l6">
            <div class="card">
                <div class="sample-chart-wrapper">
                    <span>TERMOMETRO DE OFICINAS</span>
                    <div id="thermometer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card" style="padding:2px 13px 2px 13px">
            {% include 'dashboard/map_view.html'%}
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/modules/map_view.js"></script>

{% endblock %}


{% block scripts %}

<script type="text/javascript">

Highcharts.chart('indicator-by-region', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Categorías de Indicadores',
        colorByPoint: true,
        data: [ {
            name: 'METROPOLITANA NORTE',
            y: 10.38,
            sliced: true,
            selected: true
        }, {
            name: 'METROPOLITANA CENTRAL',
            y: 1.38
        }, {
            name: 'METROPOLITANA OESTE',
            y: 4.7
        }, {
            name: 'METROPOLITANA ORIENTAL',
            y: 0.78
        }, {
            name: 'ZONA ESTE',
            y: 0.38
        }, {
            name: 'ZONA SANTIAGO ESTE',
            y: 3.87
        }, {
            name: 'ZONA SANTIAGO OESTE',
            y: 2.38
        }, {
            name: 'ZONA NORCENTRAL',
            y: 10.38
        }, {
            name: 'ZONA NORDESTE',
            y: 7.45
        }, {
            name: 'ZONA NOROESTE',
            y: 0.17
        }, {
            name: 'ZONA SURESTE',
            y: 4.77
        }, {
            name: 'ZONA SUROESTE',
            y: 0.91
        }]
    }]
});

Highcharts.chart('offices', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Pocentaje Total de Riesgo'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [{
        name: 'Categorías de Indicadores',
        colorByPoint: true,
        data: [{
            name: 'Boulevard',
            y: 56.33,
            drilldown: 'Boulevard'
        }, {
            name: 'Cruce de Veron',
            y: 24.03,
            drilldown: 'Cruce de Veron'
        }, {
            name: 'Las Palmas',
            y: 10.38,
            drilldown: 'Las Palmas'
        }, {
            name: 'Coral Mall',
            y: 4.77,
            drilldown: 'Coral Mall'
        }, {
            name: 'Blue Mall',
            y: 0.91,
            drilldown: 'Blue Mall'
        }, {
            name: 'Agora Mall',
            y: 0.2,
            drilldown: 'Agora Mall'
        }]
    }],
    drilldown: {
        series: [{
            name: 'Boulevard',
            id: 'Boulevard',
            data: [
                [
                    'Indicador 01',
                    24.13
                ],
                [
                    'Indicador 02',
                    17.2
                ],
                [
                    'Indicador 03',
                    8.11
                ],
                [
                    'Indicador 04',
                    5.33
                ],
                [
                    'Indicador 05',
                    1.06
                ],
                [
                    'Indicador 06',
                    0.5
                ]
            ]
        }, {
            name: 'Cruce de Veron',
            id: 'Cruce de Veron',
            data: [
                [
                    'Indicador 01',
                    5
                ],
                [
                    'Indicador 02',
                    4.32
                ],
                [
                    'Indicador 03',
                    3.68
                ],
                [
                    'Indicador 04',
                    2.96
                ],
                [
                    'Indicador 05',
                    2.53
                ],
                [
                    'Indicador 06',
                    1.45
                ]
            ]
        }, {
            name: 'Las Palmas',
            id: 'Las Palmas',
            data: [
                [
                    'Indicador 01',
                    2.76
                ],
                [
                    'Indicador 02',
                    2.32
                ],
                [
                    'Indicador 03',
                    2.31
                ],
                [
                    'Indicador 04',
                    1.27
                ],
                [
                    'Indicador 05',
                    1.02
                ],
                [
                    'Indicador 06',
                    0.33
                ]
            ]
        }, {
            name: 'Coral Mall',
            id: 'Coral Mall',
            data: [
                [
                    'Indicador 01',
                    2.56
                ],
                [
                    'Indicador 02',
                    0.77
                ],
                [
                    'Indicador 03',
                    0.42
                ],
                [
                    'Indicador 04',
                    0.3
                ],
                [
                    'Indicador 05',
                    0.29
                ],
                [
                    'Indicador 06',
                    0.26
                ]
            ]
        }, {
            name: 'Blue Mall',
            id: 'Blue Mall',
            data: [
                [
                    'Indicador 01.x',
                    0.34
                ],
                [
                    'Indicador 02',
                    0.24
                ],
                [
                    'Indicador 03',
                    0.24
                ],
                [
                    'Indicador 04',
                    0.24
                ],
                [
                    'Indicador 05',
                    0.17
                ],
                [
                    'Indicador 06',
                    0.16
                ]
            ]
        }]
    }
});

Highcharts.setOptions({
    colors: ['#EE2C2C', '#FF4C00', '#FF6300', '#F0E315', '#DFFF00', '#B0FF00', '#00FF01', '#00FF01']
});

c = Highcharts.chart('thermometer', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Population (millions)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
    },
    series: [{
            colorByPoint: true,

        name: 'Population',
        data: [
            ['Isabel La Catolica', 23.7],
            ['Independencia', 16.1],
            ['Aeropuerto', 14.2],
            ['Maximo Gomez', 14.0],
            ['Padre Castellanos', 12.1],
            ['Los Mina Paulo', 11.8],
            ['Las Americas City', 8.9],
            ['Ave. Mella', 8.9]
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});

</script>
{% endblock %}
