{% extends 'base/base.html'%}

{% block content %}

<div class="row" ng-controller='map_view'>
    <div class="col s12 m12">
        <div class="card" style="padding:2px 13px 2px 13px">
            {% include 'dashboard/map_view.html'%}
        </div>
    </div>
</div>




<div ng-controller='dashboardController'>


<div id="card-stats">
    <div class="row" ng-hide='settings.indicator_type == 2'>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content  green white-text">
                    <p class="card-stats-title"><i class="mdi-action-home"></i> Oficina</p>
                    <h4 class="card-stats-number">[[resume_box_2.office]]</h4>
                    <p class="card-stats-compare"><span class="green-text text-lighten-5">Últimas 3 ejecuciones</span></p>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content blue-grey white-text">
                    <p class="card-stats-title"><i class="mdi-action-group-work"></i> Categoría</p>
                    <h4 class="card-stats-number">[[resume_box_2.category]]</h4>
                    <p class="card-stats-compare"><span class="purple-text text-lighten-5">Últimas 3 ejecuciones</span>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content pink lighten-2 white-text">
                    <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Indicador</p>
                    <h4 class="card-stats-number">[[resume_box_2.indicator]]</h4>
                    <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas 3 ejecuciones</span>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                    </p>
                </div>
            </div>
        </div>

    </div>


    <div class="row" ng-show='settings.indicator_type == 2'>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content  green white-text">
                    <p class="card-stats-title"><i class="mdi-action-home"></i> Oficina</p>
                    <h4 class="card-stats-number">[[resume_box_1.office]]</h4>
                    <p class="card-stats-compare"><span class="green-text text-lighten-5">Últimas 3 ejecuciones</span></p>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content blue-grey white-text">
                    <p class="card-stats-title"><i class="mdi-action-group-work"></i> Categoría</p>
                    <h4 class="card-stats-number">[[resume_box_1.category]]</h4>
                    <p class="card-stats-compare"><span class="purple-text text-lighten-5">Últimas 3 ejecuciones</span>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content pink lighten-2 white-text">
                    <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Indicador</p>
                    <h4 class="card-stats-number">[[resume_box_1.indicator]]</h4>
                    <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas 3 ejecuciones</span>
                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
    <div id="work-collections">
        <div class="row">
            <div class="col s12 m12 l6">
                <ul id="issues-collection" class="collection">
                    <li class="collection-item avatar">
                        <i class="mdi-action-home circle red darken-2"></i>
                        <span class="collection-header">Oficinas con mayor cantidad de incidencias</span>
                        <p>Evaluación por categoría de indicadores</p>
                    </li>
                    <li class="collection-item trigger-modal" ng-repeat='off in offices_risk'>
                        <div class="row">
                            <div class="col s7 title">
                                <p class="collections-title"><strong>[[off.code]] -</strong> [[off.name]]</p>
                                <p class="collections-content">[[off.incidencesSum]] incidencias</p>
                            </div>
                            <div class="col s2">
                                <span class="task-cat" ng-class='{ "pink accent-2" : off.risk_level == "high", "yellow darken-3" : off.risk_level == "medium", "green darken-3" : off.risk_level == "low"}'>[[off.risk]]%</span>
                            </div>
                            <div class="col s3">
                                <div class="progress">
                                    <div class="determinate" style="width: [[off.risk]]%"></div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="collection-item" ng-show='offices_risk.length == 0'>
                        Sin información
                    </li>
                    <li class="collection-item" ng-show='loading.offices'>
                        <div class="row">
                            <div class="col s12">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s12 m12 l6">
                <ul id="issues-collection" class="collection">
                    <li class="collection-item avatar">
                        <i class="mdi-action-group-work circle blue darken-2"></i>
                        <span class="collection-header">Categorías más destacadas</span>
                        <p>Evaluación por indicadores</p>
                    </li>
                    <li class="collection-item trigger-modal_2" ng-repeat='cat in resume_box.categories'>
                        <div class="row">
                            <div class="col s7 title">
                                <p class="collections-title"><strong>[[cat.name]]</strong></p>
                                <p class="collections-content">[[cat.total_incidences]] incidencias</p>
                            </div>
                            <div class="col s2">
                                <span class="task-cat yellow darken-4">60%</span>
                            </div>
                            <div class="col s3">
                                <div class="progress">
                                    <div class="determinate" style="width: 6    0%"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" ng-show='resume_box.categories.length == 0'>
                        Sin información
                    </li>
                    <li class="collection-item" ng-show='loading.categories'>
                        <div class="row">
                            <div class="col s12">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div id="work-collections">
        <div class="row" style="backgroud:#f00">
            <div class="col s12 m12 l6">
                <ul id="issues-collection" class="collection">
                    <li class="collection-item ">
                        <span class="collection-header">Categoría de indicadores por Oficinas</span>
                    </li>
                    <li>
                        <div id="morris-radar-chart" class="section">
                            <div class="row">
                                <div class="col s12 m12 19">
                                    <div class="sample-chart-wrapper">
                                        <canvas id="line-chart-sample" height="170px"></canvas>
                                    </div>
                                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>

            <div class="col s12 m12 l6">
                <ul id="issues-collection" class="collection">
                    <li class="collection-item ">
                        <span class="collection-header">Incidencias por regiones</span>
                    </li>
                    <li>
                        <div id="morris-radar-chart" class="section">
                            <div class="row">
                                <div class="col s12 m12 19">
                                    <div class="sample-chart-wrapper">
                                        <canvas id="doughnut-chart" height="170px"></canvas>
                                    </div>
                                    <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
        </div></div>


<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Préstamos<span style="position: absolute; right: 10%;">45%</span></div>
      <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-itém">Prestamos Garantia Prendaria hip No Tasados<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-itém">Prestamos Castigados no Reportados SB<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">Préstamos y Cuota Flexible Supera el 80%<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">Empleados Garantes de Préstamos<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
            </ul>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Tárjetas<span style="position: absolute; right: 10%;">55%</span></div>
      <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">Aumento TC Mal comportamiento Pago<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">Credimas exceden el limite de creditos aprobado<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">Analisis limite y consumo de tárjetas de credito<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">Credimas sin registros de aceleracion<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
            </ul>
      </div>
    </li>
  </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Finalizar</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Préstamos y Cuota Flexible Supera el 80%<span style="position: absolute; right: 10%;">45%</span></div>
      <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">2017/02/13<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/03/16<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/04/14<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/05/15<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
            </ul>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>érestamos Castigados no Reportados SB<span style="position: absolute; right: 10%;">55%</span></div>
      <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">2017/04/15<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/05/17<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/06/16<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
              <li class="collection-item">2017/07/11<span style="cursor: pointer; position: absolute; right: 10%;"><i class="mdi-file-file-download"></i></span></li>
            </ul>
      </div>
    </li>
  </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Finalizar</a>
  </div>
</div></div>

<div id="work-collections" class="test">
    <div class="row">
      <div class="col s3 square">Norte</div>
      <div class="col s9">
          <div class="col s1 square">1</div>
          <div class="col s1 square">2</div>
          <div class="col s1 square">3</div>
          <div class="col s1 square">4</div>
          <div class="col s1 square">5</div>
          <div class="col s1 square">6</div>
          <div class="col s1 square">7</div>
          <div class="col s1 square">8</div>
          <div class="col s1 square">9</div>
          <div class="col s1 square">10</div>
          <div class="col s1 square">11</div>
          <div class="col s1 square">12</div>
      </div>
    </div>

    <div class="row">
      <div class="col s3 square"> Sur</div>
      <div class="col s9">
          <div class="col s1 square">1</div>
          <div class="col s1 square">2</div>
          <div class="col s1 square">3</div>
          <div class="col s1 square">4</div>
          <div class="col s1 square">5</div>
          <div class="col s1 square">6</div>
          <div class="col s1 square">7</div>
          <div class="col s1 square">8</div>
          <div class="col s1 square">9</div>
          <div class="col s1 square">10</div>
          <div class="col s1 square">11</div>
          <div class="col s1 square">12</div>
      </div>
    </div>

    <div class="row">
      <div class="col s3 square"> Sur</div>
      <div class="col s9">
          <div class="col s1 square">1</div>
          <div class="col s1 square">2</div>
          <div class="col s1 square">3</div>
          <div class="col s1 square">4</div>
          <div class="col s1 square">5</div>
          <div class="col s1 square">6</div>
          <div class="col s1 square">7</div>
          <div class="col s1 square">8</div>
          <div class="col s1 square">9</div>
          <div class="col s1 square">10</div>
          <div class="col s1 square">11</div>
          <div class="col s1 square">12</div>
      </div>
    </div>
</div>


<style type="text/css">
    .square{
        height: 30;
        background: #f00;
        text-align: center;
            border: 1px solid #eee;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
    }

    .test .row{
        margin-left: -.75rem;
        margin-right: -.75rem;

    }

</style>

<script type="text/javascript" src="/static/js/modules/map_view.js"></script>

{% endblock %}


{% block scripts %}

<script type="text/javascript">


(function(){

    $('.mdi-file-file-download').on('click', function () {
        download("hello world", $(this).parent().parent().text()  + " [" + new Date().toLocaleString() + "].zip", "text/plain");
    });

    $('body').on('dblclick', '.trigger-modal', function(){
        $('#modal1').openModal();
    });

    $('body').on('dblclick', '.trigger-modal_2', function(){
        $('#modal2').openModal();
    });
})();

</script>

{% endblock %}