{% extends 'base/base.html'%}

{% block content %}
<form>
<br><br>
	<div class="input-field">
		<input type="text" ng-model='name' >
	</div>

	<div class="input-field">
		 <input type="date" min="1999-03-25" max="2018-05-25" step="2" ng-model = 'fecha'>
	</div>

</form>

<table class="bordered hoverable" ng-controller='indicadoresController'>
	<tr>
		<th>Codigo</th>
		<th>Nombre</th>
		<th>Fecha</th>
		<th>Monto</th>
		<th>Cantidad de excepciones</th>
		<th>Descargar<th>
	</tr>
	<tr ng-repeat='indicador in indicadores | filter : name | filter : fecha '>
		<td>[[indicador.cod]]</td>
		<td>[[indicador.name]]</td>
		<td>[[indicador.fecha]]</td>
		<td>[[indicador.monto]]</td>
		<td>[[indicador.cant]]</td>
	</tr>
</table>

{% endblock %}